@mixin breakpoint($type) {
  @if $type == phone {
    @media (max-width: $tablet - 1) { @content; }
  }
  @else if $type == tablet {
    @media (min-width: $tablet) { @content; }
  }
  @else if $type == laptop {
    @media (min-width: $laptop) { @content; }
  }
  @else if $type == desktop {
    @media (min-width: $desktop) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: phone, tablet, laptop, and desktop";
  }
}

@mixin border-image($height) {
  border-style: solid;
  border-width: $height 0px;
  -moz-border-image: url(/assets/img/border.png) 40 repeat;
  -webkit-border-image: url(/assets/img/border.png) 40 repeat;
  -o-border-image: url(/assets/img/border.png) 40 repeat;
  border-image: url(/assets/img/border.png) 40 repeat;
}

@mixin resp-image($max-height, $max-width) {
  height: auto;
  width: 100%;
  max-height: $max-height;
  max-width: $max-width;
}

@mixin inner-container($width, $max-width) {
  position: relative;
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;
}
