@mixin border-image($height) {
  border-style: solid;
  border-width: 0px 0px $height;
  -moz-border-image: url(/assets/img/border.png) 0 0 20 round;
  -webkit-border-image: url(/assets/img/border.png) 0 0 20 round;
  -o-border-image: url(/assets/img/border.png) 0 0 20 round;
  border-image: url(/assets/img/border.png) 0 0 20 round;
}
