@font-face {
  font-family: 'Happy Caps';
  src: url('../font/happy-caps-regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../font/proxima-nova.ttf');
}

html {
  font-size: 80%;

  @include breakpoint(tablet) {
    font-size: 90%;
  }

  @include breakpoint(laptop) {
    font-size: 100%;
  }
}

body {
  font-family: $content-font;
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4 {
  font-family: $headline-font;
  line-height: 2rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
