// Font
$content-font: "Proxima Nova", "Trebuchet MS", Arial, sans-serif;
$headline-font: "Happy Caps", "Trebuchet MS", Arial, sans-serif;
$default-font-size: 18px;

// Colors
$primary-green: #4e9a10;
$light-green: #8dc63f;
$dark-green: #113d17;
$white: #ffffff;

// Structure
$max-width: 1024px;
$half-width: $max-width / 2;
$third-width: $max-width / 3;
