.thumbnail-wrapper {
  font-size: 0;
  background-color: #f6f6f6;
}

.thumbnails {
  font-size: 0;
  text-align: center;
  @include inner-container(50%, 64rem);

  .thumbnail {
    display: inline-block;
    width: 33%;
    @include breakpoint(tablet) {
      width: auto;
    }
  }

  img {
    @include resp-image(9rem, 9rem);
  }
}

.product {
  display: none;
  font-size: 0;
  padding: 0 1rem;
  @include inner-container(100%, 64rem);
  @include breakpoint(laptop) {
    margin: 0 auto;
    width: 80%;
  }

  .image {
    display: inline-block;
    width: 50%;

    img {
      @include resp-image(31.25rem, 31.25rem);
    }
  }

  .description {
    color: $dark-green;
    display: inline-block;
    font-size: 1rem;
    padding-top: 1rem;
    vertical-align: top;
    width: 50%;

    a {
      color: $light-green;
    }
  }
}

.current-product {
  display: block;
}

.current-thumbnail {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
