.recipes {
  font-size: 0;

  .recipe {
    box-sizing: border-box;
    margin: 0;
    padding: 5rem 3rem;
    min-height: 20rem;

    @include breakpoint(tablet) {
      display: inline-flex;
      width: 50%;
    }

    @include breakpoint(desktop) {
      width: 25%;
    }

    .overlay {
      background-color: rgba(17,61,23,0.7);
      border-radius: 0.25em;
      color: $white;
      padding: 1rem;
      margin: 0 auto;
      text-align: center;
      text-size: 4em;
    }
  }

  .recipe-footer {
    background-color: #f0efe8;
    font-size: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
  }
}
