.thumbnails {
  width: 50%;
  margin: 0 auto;
  font-size: 0;

  img {
    display: inline-block;
    width: 33.33%;
    height: auto;
    margin-bottom: 2rem;
  }

  img.active {
    background: rgba(39,62,84,0.82);
  }
}

.slider {
  padding: 0 1rem;
  font-size: 0;

  img {
    display: inline-block;
    width: 50%;
  }

  .description {
    color: $dark-green;
    display: inline-block;
    font-size: 1rem;
    width: 50%;

    .suggestion {
      color: $light-green;
    }
  }
}
