.tiles {

  .tile {
    margin: 0;
    padding: 4rem 3rem;

    .overlay {
      background-color: rgba(17,61,23,0.7);
      border-radius: 0.25em;
      color: $white;
      padding: 1rem;
      margin: 0 auto;
      text-align: center;
      text-size: 4em;
    }
  }

  .tile-footer {
    background-color: #f0efe8;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
  }
}
