.button {
  background-color: $light-green;
  border-radius: 1rem;
  padding: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  img {
    vertical-align: top;
    padding-left: 0.5rem;
    width: 1.5rem;
  }
}
